@import 'reset.css';


body {
	background: #efefef;
	font-family: 'Arimo', sans-serif;
	font-size: 15px;
	line-height: 1em;
}
b {
	font-weight: bold;
}


.clearfix:after{
	clear: both;
	display: block;
	content: "";
}
.rfloat {
	float: right;
}
.lfloat {
	float: left;
}
.grid {
	display: table;
}
.grid-row {
	display: table-row;
}
.grid-cell {
	display: table-cell;
	vertical-align: middle;
}
.content-wrapper {
	/*max-width: 1000px;*/
	width: 100%;
	margin: 0 auto;
	background: #fff;
}

.stick-bottom {
	/*position: fixed;*/
	bottom: 0;
	background: #1d9d74;
	width: 100%;
	color: #fff;
}
.stick-top {
	/*position: fixed;*/
	padding: 10px 0;
	background: #25bce9;
    color: #ffffff;
    width: 100%;
}
.fb:hover::before,.tw:hover::before,.gp:hover::before,.em:hover::before,.map:hover::before,.phone:hover::before {
	background: #eee;
	color: green;

}
.fb:before,.tw:before,.gp:before,.em:before, .map:before, .phone:before {
	margin-left: 10px;
	display: inline-block;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height:40px;
	overflow: hidden;
	background: #fff;
	border-radius: 50%;
	color: #333;
	cursor: pointer;
	font-weight: bold;
	vertical-align: middle;
}
.phone:before {
	margin-left: 0;
	border-radius: 0 15% 15% 0;
}
.map:before{
	border-radius: 15% 0 0 15%;
}
.collapsed-contact,
.collapsed-map {
	width: 0;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	border-right: 1px solid #333;
    height: 40px;
    line-height: 40px;
    /*padding: 0 10px;*/
    font-size: 13px;
}
.collapsed-contact {
	border-right: 0 none;
	border-left: 1px solid #333;
}
.bottom-link {
	/*width: 15%;*/
	padding: 2% 0 2% 5%;
	/*border-right: 1px solid #fff;*/
}
.bottom-link li a:hover::after{
	content:"";
	display: block;
	float: right;
	border: 5px solid #D5EAE3;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;

}
.bottom-link li a:hover{
	border-bottom: 1px solid #D5EAE3;
	color: #D5EAE3;
}
.bottom-link li a{
	padding: 8px 15px;
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	border-bottom: 1px solid #1d9d74;
}
.bottom-share {
	width: 25%;
	padding: 0 0 0 5%;
	/*border-right: 1px solid #fff;*/
}
.bottom-address {
	padding: 10px;
	line-height: 1.2em;
}
.bottom-address i{
	font-size: 18px;
	vertical-align: bottom;
}
.bottom-address p{
	padding-left: 25px;
	color: #D5EAE3;
}
.gmap iframe{
	vertical-align: bottom;
}
.gmap {
	width: 50%;
}

header .logo {
	display: table-cell;
	min-width: 300px;
	width: 30%;
	text-align: center;
	vertical-align: middle;
}
header .navigation {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}
header .navigation li a{
	line-height: 125px;
	text-align: center;
	display: block;
	text-decoration: none;
	color: #333;
	border: 1px solid #333;
}
header .navigation li{
	display: inline-block;
	width: 150px;

}