h4 {
	font-size: 24px;
	color: #666666;
	line-height: 36px;
	font-weight: normal;
	border-bottom: 4px double #cdcdcd;
	padding: 20px;
	margin: 10px auto 50px auto;
	font-weight: bold;
	min-width: 200px;
	display: table;
	text-align: center;
}
.about-banner {
	/*background: #41D7DD;*/
	background: #088CC0;
	/*background: #fff;*/
}
.content-text {
	margin-top: 50px;
}
.content-text p{
	line-height: 1.2em;
	padding: 0 5%;
}
.our-team {
	background: #e8e8e8;
	padding: 20px;
	margin-top: 47px;
	padding-bottom: 40px;
}
.our-team h4{
	margin-top:0;
	line-height: 1em;
}
.team {
	width: 575px;
	max-width: 100%;
	margin: 0 auto;
}
.need-us {
	width: 100%;
}
.team .grid-cell,
.need-us .grid-cell{
	padding: 10px;
	
}
/*.team .text,*/
.need-us .text{
	/*padding-left: 15px;*/
	padding-right: 20px;
}
.need-us .image{
	width:60px;
	border-right: 1px solid #69E5FF;
}
.team .image{
	width: 100px;
}
.team .image img{
	border: 2px solid #69E5FF;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.data-download-title {
	margin-top: 50px;
}
.data-download .grid{
	width: 100%;
}
.data-download .grid-cell{
	width: 50%;
}
.data-download .grid-cell rect{
	fill:none;
}
.data-download .grid-cell .legends .bold{
	display: block;
	padding: 7px;
}
.data-download .grid-cell.chart #piechart{
	margin: 0 auto;
}
.data-download .grid-cell {
	background:url('../images/chart_bg.png');
}
.data-download .grid-cell .legends li {
	padding: 4px 0;
}
.data-download .grid-cell .legends li span{
	display: inline-block;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 7px;
}