.page-content .job-desc.grid {
	margin: 20px;
}
.page-content b {
	color: #088CC0;
	font-size: 1.2em;
	line-height: 2em;
	display: block;
	border-bottom: 1px solid #ccc;
}
.page-content .job-desc .grid-cell {
	padding: 7px;
}

.careers-more {
	text-align: center;
	font-size: 1.2em;
	color: #088CC0;
	line-height: 1.3em;
} 
.careers-more a{
	color: #088CC0;
	text-decoration: underline;
}
.careers-more a:hover{
	text-decoration: none;	
	color: #41D7DD;
	background: none;
}