@import url("http://fonts.googleapis.com/css?family=Raleway:500");
.page-map {
	padding: 0 5px;
	position: relative;
}
.address {
	width: 35%;
	min-width: 300px;
	position: absolute;
	right: 50px;
	top: 0;
	height: 350px;
}
.address .grid-cell.add-text .pointer-left-white{
	border-right-color: #41DCEB;
}
.address .grid-cell.add-text{
	background: #41DCEB;
	position: relative;
    border-top: 1px solid #fff;
    color: #00425D;
	
}
.address .grid-cell{
	padding: 0 20px;
	vertical-align: middle;
	background: #088CC0;
	color: #FFF;
	text-align: center;
	border-top: 5px;
	line-height: 1.2em;
	font-size: 16px;
    font-family: 'Raleway';
    border-bottom: 1px solid #fff;
}
.address .grid-cell a:hover{
	color: #41DCEB;
}
.address .grid-cell a{
	color: inherit;
	text-decoration: none;
}
.connect-us a img{
	border: 2px solid #fff;
	margin: 4px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	}
.connect-us a img:hover{
	border: 2px solid #41DCEB;
}