@import 'style.css';

.page-header {
	display: block;
	/*background: rgba(255,255,255,0.5);*/
    color: #fff;
    background: #088CC0;
    padding: 30px 0;
}
.page-header h1{
    padding: 0 30px;
    margin: 0;
    text-align: left;
    font-size: 40px;
    /*color: #037696;*/
    line-height: 1em;
}
.page-header p{
    margin: 0;
    font-size: 20px;
    padding: 25px 50px 0 50px;
}
.innerpage-content p {
    padding: 0 20px 0 40px;
}
.innerpage-content h2 {
	font-size: 24px;
    color: #2fadbb;
    line-height: 36px;
    font-weight: normal;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 20px 20px ;
    margin: 30px 0 30px 20px;
    font-weight: bold;
    min-width: 200px;
}
.page-content.content-wrap,
.page-header .content-wrap
{
	max-width: 1100px;
}
.collapsible {
	overflow: hidden;
}