
.content-wrap.grid {
	width: 100%;
}
.primary-service .grid-cell.image {
	text-align: center;
}
.primary-service .grid {
	margin: 50px auto;
}
.primary-service .grid-cell {
	padding: 2%;
	vertical-align: middle;
}