.content-wrap.grid {
	width: 100%;
}
.primary-service .grid-cell.text h2{
	line-height: 1.3em;
	border-bottom: 1px solid #fff;
	margin: 20px auto;
	width: 90%;
	color: #fff;
}
.primary-service .grid-cell.text button:hover {
	background: #fff;
	color: #088CC0;
}
.primary-service .grid-cell.text {
	background: #56CFFF;
	color: #088CC0;
	color: #fff;
}
.primary-service .grid-cell.text p{
	width: 280px;
	margin: 35px auto;
	line-height: 1.2em;
	color: #088CC0;
}
.primary-service .grid-cell.text p b{
	display: block;
	padding: 20px 0 15px 0;
	line-height: 1em;
	font-size: 18px;
	color: #FFF;
}
.primary-service .grid {
	margin: 50px auto;
}
.primary-service .grid-cell {
	padding: 2%;
	width: 50%;
	vertical-align: middle;
	text-align: center;
}

.secondary-service h3 {
	font-size: 24px;
    background: #56CFFF;
    background: #088CC0;
    color: #FFF;
	line-height: 1.2em;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	padding: 20px;
	margin: 30px auto;
	font-weight: bold;
}
.secondary-service .service-title {
	border: 1px solid #ededed;
	border-radius: 3px;
	padding: 10px;
	background: url('../images/accordion-expanded.png') right center;
}
.secondary-service .service-title:hover {
	background-color: #CEF6FE;
    border: 1px solid #088CC0;
    cursor: pointer;
}
.secondary-service .service-content {
	display: none;	
	padding: 20px;
	line-height: 1.2em;
	border: 1px solid #ccc;
}
.secondary-service .service-title.arrRight {
	background: url('../images/accordion-collapsed.png') right center;
}
.secondary-service .service-title,
.secondary-service .service-title.arrRight {
	background-repeat: no-repeat;
	background-size: 10px auto;
	background-position: 99% 50%;
}
.secondary-service .service-title.arrRight {
	background-color: #CEF6FE;
}