@import 'reset.css';
@import url("http://fonts.googleapis.com/css?family=Raleway:300,500,700");
body {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	line-height: 1em;
	margin: 0;
	padding: 0;
	color: #333;
}
header {
	display: block;
	border-bottom: 1px solid #fff;
}

img {
	max-width: 100%;
	vertical-align: bottom;
	outline: none 0;
} 
h1,h2,h3,h4,h5,h6,textarea,button,input,.button{
	font-family: 'Raleway';
}
button,input,.button{
	font-weight: 500;
	border: 1px solid #ccc !important;
}

.button:hover,
button:hover{
	background: #41D7DD;
}
.button,
 button{
	font-size: 1em;
	line-height: 1em;
 	text-decoration: none;
	cursor: pointer;
	color: #fff;
	background: #088CC0;
	border: 1px solid ;
	/*font-size: 0.7em;*/
	padding: 12px 20px;
	display: inline-block;
}
.button.white,
button.white {
	background: #FFF;
	color: #088CC0;
}
.button.white:hover,
button.white:hover {
	color: #088CC0;
	color: #fff;
	background: #41D7DD;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
input[type=text]:hover,
input[type=e mail]:hover,
input[type=tel]:hover,
input[type=number]:hover,
textarea:hover {
	
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.bold {
	font-weight: bold;
}
.grid {
	display: table;
}
.grid-row {
	display: table-row;
}
.grid-cell {
	display: table-cell;
	vertical-align: middle;
}
.grey{
	color: #9E9E9E;
}
.clearfix:after {
	clear: both;
	display: block;
	content: "";
}
.rfloat {
	float: right;
}
.lfloat {
	float: left;
}
.content-wrap {
	max-width: 1200px;
	margin: 0 auto;
}

.tright {
	text-align: right;
}

.tleft {
	text-align: left;
}

.tcenter {
	text-align: center;
}

.pad-left-zero {
	padding-left: 0;
}
.pad-right-zero {
	padding-right: 0;
}
.pointer-top-grey{
	position: absolute;
	border: 10px solid transparent;
	border-top: 0 none;
	border-bottom-color: #e8e8e8;
	left: 50%;
	bottom: 100%;
}
.pointer-bottom-grey{
	position: absolute;
	border: 10px solid transparent;
	border-bottom: 0 none;
	border-top-color: #e8e8e8;
	left: 50%;
	top: 100%;
}

.pointer-left-white{
	position: absolute;
	border: 10px solid transparent;
	border-left: 0 none;
	border-right-color: #e8e8e8;
	right: 100%;
	top: 50%;
}

.fb:hover::before,.tw:hover::before,.gp:hover::before,.em:hover::before,.map:hover::before,.phone:hover::before {
	background: rgba(255,255,255,0.5);
	color: #0092BB;

}
.fb:before,.tw:before,.gp:before,.em:before, .map:before, .phone:before, .connect .fa-phone {
	margin-left: 10px;
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height:30px;
	overflow: hidden;
	border-radius: 50%;
	color: #fff 	;
	cursor: pointer;
	vertical-align: middle;
	border: 2px solid #fff;
}
.fa {
	vertical-align: top;
}
.connect .fa-phone {
	margin-right: 10px;
	cursor: auto;
}
.connect a:hover{
	color: #41D7DD;
}
.connect a{
	color: #fff;
}
.connect {
	color: #fff;
	background: #088CC0;
	padding: 5px 0;
	font-size: 14px;
}
.connect .bottom a,
.connect .bottom {
	color: #41D7DD;
}


header .grid {
	width: 100%;
}
header .content-wrap {
	padding:0 1%;
	width: 98%;
}
.logo {
	font-size: 45px;
	font-family: 'Pathway Gothic One', sans-serif;
}
.logo img {
	display: inline-block;
	line-height: 0;
	vertical-align: middle;
}
.logo a {
	display: inline-block;
}
.nav-wrapper {
	background: #FFF;
	z-index: 1000;
}
.is-sticky:after {
	clear:both;
	display: block;
	content: "";
}
.is-sticky .nav-wrapper{
	border-bottom: 1px solid #00D3FF;
}
.link-bg {
	background: #088CC0;
}
.nav-link li {
	display: inline-block;
	width: 100px;
	position: relative;
}

.nav-link li a {
	display: block;
	line-height: 50px;
	text-decoration: none;
	padding: 7px;
	color: #088CC0;
	text-align: center;
}
.drop-nav,
.nav-link li a .drop-nav {
	position: absolute;
	right: 0;
	z-index: 100;
	display: none;
	border: 1px solid #088CC0;
	width: 200px;
}
.drop-nav a {
	background: #FFF;
	padding: 20px;
	line-height: 30px !important;
	
	border-bottom: 1px solid;
}
.drop-nav a:last-child {
	border-bottom: 0 none;
}

.nav-link li a:hover {
	background: #088CC0;
	color: #fff;
}
.banner *{
	border: none 0 !important;
}
.banner {
	background: #fff;
	text-align: center;
	box-shadow: 0px 0px 10px -2px #00AAB7;
	color: #fff;
}

.page-content .grid-cell {
	padding: 20px 0 20px 0;
}

.newsletter{
	position: fixed;
	right: 1%;
	bottom: 0;
	width: 200px;
	text-align: center;
	z-index: 1000;
	cursor: pointer;
	border: 1px solid  #41D7DD;
	border-bottom: 0 none;
	color: #fff;
	/*height: 16px;*/
/*	background: #e8e8e8;
	color: #088CC0;
	
    color: #e8e8e8;
    background: #7fba00;*/
	color: #e8e8e8;
	background: #088CC0;
	font-size: 0.9em;
}
.newsletter:after {
	position: absolute;
	right: 10px;
	top: 10px;
	display: inline-block;
	content: attr(data-content);
	font-size: 1.1em;
	font-weight: bold;
}
.newsletter.expanded:after {
	content:"-";
}
.signUp {
	padding-top: 20px;
	color: #FFF;
	line-height: 1.5em;
	padding: 10px;
}
.signUp textarea,
.signUp input{
	width: 97%;
	margin: 3px 1%;
}
.signUp .button{
	width: 150px;
	padding: 10px;
}
.newsletter .heading{
	padding: 10px;
}
.hidden-for-submission	 {
	position: absolute;
	top: 100%
}
.content-text {
	padding-left: 20px;
	vertical-align: top;
}

.content-text h1 {
	padding: 20px;
	text-align: center;
    font-size: 48px;
    color: #444;
    font-weight: normal;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.testimonial h4,
.content-text h4 {
    font-size: 24px;
    color: #666666;
    line-height: 36px;
    font-weight: normal;
	border-bottom: 4px double #cdcdcd;
	padding: 20px;
	margin: 10px auto 50px auto;
    font-weight: bold;
    min-width: 200px;
   	display: table;
   	text-align:center;
}
.service_box a{
	display: block;
	width: 95%;
	padding: 10px 2%;
	border: 1px solid #cdcdcd;
	min-height: 80px;
	position: relative;
	text-decoration: none;
	color: inherit;
	margin: 50px 0;
	clear: both;
}
.service_box a:hover{
	background: #CEF6FE;
	border: 1px solid #00D3FF;
}
.service_box a figure {
	margin: 0;
}
.service_box a figure.lfloat {
	margin-right: 1em;
}
.service_box a figure.rfloat {
	margin-left: 1em;
}
.service_box a figure img {
	width: 150px;
	bottom: 0;
	right: 0;
}
.service_box a b{
	font-size: 1.2em;
	line-height: 2em;
	font-family: 'Raleway'
}

.service-box {
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 350px;
}
.service-box a:hover{
	background: #CEF6FE;
	border: 1px solid #00D3FF;
}
.service-box a:hover figure img{
	width: 110px;
}
.service-box a:hover p{
	padding-top: 0;
	padding-bottom: 0;
}
.service-box a{
	display: table-cell;
	width: 30%;
	padding: 10px 20px;
	border: 1px solid #cdcdcd;
	text-decoration: none;
	color: inherit;
	text-align: center;
}
.service-box a h3{
	line-height: 3em;
}
.service-box a b,
.service-box a h3{
	font-size: 1.2em;
	font-family: 'Raleway'
}
.service-box a p{
	text-align: left;
	padding: 10px 25px;
    line-height: 1.4em;
    text-align: center;
}
.service-box a figure {
	display: block;
	text-align: center;
	margin: 0;
}
.service-box a figure img{
	width: 100px;
}
.page-services {
	width: 100%;
	border-top: 2px solid #fff;
}

.page-services .grid-cell b {
	line-height: 1.4em;
}

.page-services .grid-cell p {
	color: #fff;
}

.page-services .grid-cell img {
	background: #efefef;
	border: 0 none;
	border: 1px solid #41D7DD;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.page-services .grid-cell {
	width: 18%;
	padding: 30px 10px;
	text-align: center;
}
.page-services .grid-cell.image {
	padding-bottom: 0;
}

.know-more {
	background: #e8e8e8;
	margin: 20px 0 40px 0;
	font-size: 1.4em;
	padding: 2em;
	text-align: center;
	line-height: 1.2em;
}
.know-more a.button {
	font-size: 0.7em;
}


.mission-text-wrapper.content-wrap{
	margin: 60px auto;
}
.mission-text-wrapper .grid {
	width: 100%;
}
.mission-text-wrapper .grid-cell {
	width: 45%;
	padding: 0 2%;
	vertical-align: top;
}
.mission-text-wrapper .grid-cell.pad-right-zero {
	padding-right: 0;
}
.mission-text-wrapper .grid-cell.pad-right-zero p{
	padding-right: 2%;
}
.mission-text-wrapper .grid-cell.needus h3{
	color: #FFF;
	}
.mission-text-wrapper .grid-cell p{
	min-height: 50px;
	display: block;
	line-height: 1.2em;
}

.mission-text-wrapper .grid-cell.needus img{
	width: 40px;
}
.mission-text-wrapper .grid-cell.needus {
	/*vertical-align: middle;*/
	/*border: 1px solid #ccc;*/
	/*background: #3FADBC;*/
	background: #1D85BB;
	padding-bottom: 28px;
	padding-left: 40px;
	padding-left: 40px;
}
.mission-text-wrapper .grid-cell.needus .grid-cell{
	width: auto;
	color: #FFF;
	vertical-align: middle;
}
.mission-text-wrapper .grid-cell.needus .need-us .text{
	padding-right: 30px;
}
.mission-text-wrapper .grid-cell.needus .need-us .image{
	padding: 15px 0;
	width: 50px;
	text-align: center;
}

.testimonial h3,
.mission-text-wrapper h3,
.connect-us h3 {
	border-bottom: 1px solid #ccc;
	font-size: 27px;
	line-height: 1em;
	color: #088CC0;
}



.need-us .grid-cell{
	padding: 10px;
	
}
/*.team .text,*/
.need-us .text{
	/*padding-left: 15px;*/
	padding-right: 20px;
}
.need-us .image,
.need-us .image img{
	width:60px;
}
.need-us .image{
	border-right: 1px solid #69E5FF;
}


.testimonial {
	margin-top: 50px;
	margin-bottom: 50px;
}
.testimonial h3{
	padding-right:2%;
	margin: 0 0 50px 2%;
}
.testimonial .grid{
	width: 100%;
}
.testimonial .grid-cell{
	width: 30%;
	position: relative;
}
.testimonial .grid-cell.client-img {
	text-align: center;
	padding: 3%;
}
.testimonial .grid-cell.client-testimony {
	padding: 0 5%;
	background: #e8e8e8;
	border: 1px solid #ccc;
	border-bottom: 0 none;
}
.testimonial .grid-cell.client-name {
	padding: 3% 5% 3% 5%;
	border: 1px solid #ccc;
	border-top: 0 none;
	color: #088CC0;
	line-height: 1.2em;
}
.testimonial .grid-cell.client-name i{
	font-size: 0.8em;
}

.client-img img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 3px solid #efefef;
	outline: 0 solid transparent;	
}

.careers-more {
	text-align: center;
	font-size: 1.2em;
	color: #088CC0;
	line-height: 1.3em;
} 
.careers-more a{
	color: #41D7DD;
	text-decoration: none;	
}
.careers-more a:hover{
	background: none;
	color: #088CC0;
	text-decoration: underline;
}
.careers-more, 
.in-touch {
	background: #e8e8e8;
	padding: 20px;
	margin-top: 47px;
}
.in-touch h4{
    font-size: 24px;
    color: #666666;
    line-height: 36px;
    font-weight: normal;
	border-bottom: 4px double #cdcdcd;
	padding: 10px;
	margin: 10px auto 50px auto;
    font-weight: bold;
    min-width: 200px;
   	display: table;
	width: 30%;
	text-align: center;
}
.in-touch .grid{
	width: 500px;
	max-width: 100%;
	margin: 0 auto;
}
.in-touch .text .grid-cell{
	padding: 10px;
	font-variant: small-caps;
	font-size: 1.1em;
	}
.in-touch .textarea .grid-cell {
	padding: 20px 10px;
}
.in-touch .textarea .text .grid-cell {
	padding-bottom: 0;
}
.in-touch .textarea .grid-cell input,
.in-touch .textarea .grid-cell textarea,
.in-touch .input .grid-cell input{
	width: 80%;
	line-height: 2em;
	padding: 5px;
	text-align: center;
	border-color: #ccc !important;
	border-style: solid !important;
	border-width: 1px !important;
	font-family: 'Raleway';

}
.in-touch .textarea .grid-cell input,
.in-touch .textarea .grid-cell textarea {
	width: 90%;
    resize: none;
}
.in-touch .textarea .grid-cell input[type='button'],
.in-touch .textarea .grid-cell input[type='submit'] {
	width: auto;
	min-width: 150px;
}
.in-touch .textarea .grid-cell textarea {
	text-align: left;
	}
/*
.in-touch .textarea .grid-cell button:hover{
	background: #41D7DD;
}*/
/*.in-touch .textarea .grid-cell button{
	cursor: pointer;
	color: #fff;
	padding: 12px 20px;
	border: 1px solid ;
	font-size: 1em;
	background: #088CC0;
	min-width: 150px;
	font-variant: small-caps;
}*/
.in-touch .input .grid-cell{
	padding: 10px;
}
.in-touch .grid-cell{
	vertical-align: middle;
	text-align: center;
}
.two-col .grid-cell{
	width: 50%;	
}


.page-map {
	min-height: 240px;
	padding: 5px 0;
	background: #fff;
}







#owl-demo .item:hover{
    background: #CEF6FE;
	border: 1px solid #088CC0;
}
#owl-demo .item{
    margin: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
	color: initial;
	text-decoration: none;
	border: 1px solid #cdcdcd;
	
    
}
#owl-demo .item .grid-cell {
    font-size: 1em;
    line-height: 1.1em;
    font-family: 'Raleway';
    color: #088CC0;
	
}
.service-ticker {
	padding: 0 30px;
	position: relative;
}
.service-ticker .prev{
	left: 0;
}
.service-ticker .next {
	right: 0;
}
.service-ticker .prev img,
.service-ticker .next img{
	position: relative;
	top: -10px;
} 
.service-ticker .prev,
.service-ticker .next
{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 30px;
	padding: 2px;
}
.service-ticker #owl-demo {
	float: left;
}
footer .grid.content-wrap{
	width: 99.9%;
	}
footer h3 {
	
}
footer .text{
	line-height: 1.2em;
}
footer {
	color: #088CC0;
	background: #e8e8e8;
	/*font-size: 0.9em;*/
	border-top: 1px solid #088CC0;
}
footer .grid-cell {
	width: 30%;
	vertical-align: top;
	padding: 30px 0;
}
footer .grid-cell.links {
	vertical-align: middle;
}
footer .grid-cell.desc {
	background: #088CC0;
	color: #fff;
	padding-right: 5%;
}
footer .grid-cell .connect{ 
	/*background: #FFF;*/
	text-align:center;
}
footer .grid-cell .connect img{
	width: 10%;
    border-radius: 50%;
    border: 1px solid #41D7DD;
    margin: 0 3px;
}
footer .grid-cell.desc ,
footer .grid-cell.address-box {
	padding-left: 5%;
}
footer nav.grid-cell {
	padding-top: 0;
	padding-bottom: 0;
}
footer .footer-nav div{
	margin: 25px 0 20px 0;
}
footer .footer-nav {
	padding-left: 5%;
}
footer .footer-nav h4{
	margin-bottom: 10px;
}
footer .footer-nav div div{
	padding-bottom: 7px;
	padding-left: 5px;
	margin: 0;
}
footer .footer-nav a{
	/*display: block;*/
	font-size: 0.9em;
}
footer .footer-nav a,
footer .address-box a{
	color: #41D7DD;
	text-decoration: none;
	}
footer .address-box a:hover,
footer .footer-nav a:hover {
	background: none;
	color: #088CC0;
	text-decoration: underline;
	position: relative;
}
footer .footer-nav a:hover::before {
	content: "";
	position: absolute;
	right: 100%;
	top: 2px;
	width: 10px;
	height: 10px;
	margin-right: 3px;
	background: url(../images/accordion-collapsed.png) no-repeat center;
	background-size: 8px auto;
}


footer .nav-link {
	margin-top: 40px;
}
footer .nav-link li {
	display: block;
	width: auto;
}
footer a:hover {
	color: #088CC0;
}
footer .nav-link li a:hover {
background: none;
color: #088CC0;
text-decoration: underline;

}
footer .nav-link li .horizontal-nav{
	width: 100%;
	margin: 0 auto;
	/*padding-right: 50px;*/
}
footer .nav-link li .horizontal-nav .grid-cell a{
	border-top: 1px solid #088CC0;
	font-style: 0.9em;
	/*color: #00D3FF;*/
}
footer .nav-link li .horizontal-nav .grid-cell a:before{
	content: "";
	position: absolute;
	right: 45%;
	bottom: 97%;
	width: 10px;
	height: 10px;
	margin-right: 3px;
	background: url(../images/accordion-up.png) no-repeat center;
	background-size: 8px auto;
}

footer .nav-link li .horizontal-nav .grid-cell a,
footer .nav-link li .horizontal-nav .grid-cell{
	/*width: auto;*/
	padding: 0;
	position: relative;
}
footer .nav-link li a {
	font-size: 0.9em;
	line-height: 2em;
	text-align: center;
	/*padding-right: 20%;*/
}

footer.content-wrap .nav-link li{
	float: left;
}






@media screen and (max-width : 768px) {
	.nav-link li {width: 90px;}
	.service-box a h3 {line-height: 1.5em;}
	.secondary-service.content-wrap {
		padding: 0 30px;
	}
}