@import 'reset.css';
@import url("http://fonts.googleapis.com/css?family=Raleway:300,700");
body {
	/*background: #088CC0;*/
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	line-height: 1em;
	margin: 0;
	padding: 0;
	color: #333;
}
header {
	display: block;
	border-bottom: 1px solid #fff;
}

img {
	max-width: 100%;
	vertical-align: bottom;
	outline: none 0;
} 


.grid {
	display: table;
}
.grid-row {
	display: table-row;
}
.grid-cell {
	display: table-cell;
	vertical-align: middle;
}

.clearfix:after {
	clear: both;
	display: block;
	content: "";
}
.rfloat {
	float: right;
}
.lfloat {
	float: left;
}
.content-wrap {
	max-width: 1200px;
	margin: 0 auto;
}

.fb:hover::before,.tw:hover::before,.gp:hover::before,.em:hover::before,.map:hover::before,.phone:hover::before {
	background: rgba(255,255,255,0.5);
	color: #0092BB;

}
.fb:before,.tw:before,.gp:before,.em:before, .map:before, .phone:before, .connect .fa-phone {
	margin-left: 10px;
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height:30px;
	overflow: hidden;
	border-radius: 50%;
	color: #fff 	;
	cursor: pointer;
	/*font-weight: bold;*/
	vertical-align: middle;
	border: 2px solid #fff;
}

.connect .fa-phone {
	margin-right: 10px;
	cursor: auto;
}
.connect {
	color: #fff;
	/*padding-top: 25px;*/
	background: #088CC0;
	/*background: #088CC0;*/
	padding: 5px 0;
	font-size: 14px;
}
.tright {
	text-align: right;
}
header .grid {
	width: 100%;
}
header .content-wrap {
	padding:0  10px;
}
.logo {
	font-size: 45px;
	/*color: #fff;*/
	font-family: 'Pathway Gothic One', sans-serif;
}
.logo img {
	display: inline-block;
	line-height: 0;
	vertical-align: middle;
}
/*.nav-link {
	text-align: center;
}*/

.nav-link li {
	display: inline-block;
	width: 100px;
}

.nav-link li a {
	display: block;
	line-height: 50px;
	text-decoration: none;
	/*color: #fff;*/
	padding: 7px;
	color: #088CC0;
	text-align: center;
}

.nav-link li a:hover {
	background: #088CC0;
	/*color: #006F77;*/
	/*color: #0092BB;*/
	color: #fff;
}
.banner *{
	border: none 0 !important;
}
.banner {
	background: #fff;
	text-align: center;
	box-shadow: 0px -3px 10px -5px #00AAB7;
	border-bottom: 4px double #cdcdcd;
	color: #fff;
}
.page-content {
/*	border-left: 1px solid #088CC0;
	border-right: 1px solid #088CC0;*/
}

.page-content .grid-cell {
	padding: 20px 0 20px 0;
}

.rnewsletter h5 {
	font-size: 24px;
}

.rnewsletter .grid-cell:nth-child(even) {
	padding-right: 10px;
}

.rnewsletter .grid-cell input[type='text']{
	padding: 4px;
	color: #00647F;
}
.rnewsletter .grid-cell {
	padding: 10px 0px 10px 10px;
	text-align: left;
}

.rnewsletter {
	border-left: 1px solid #2fadbb;
	border-right: 1px solid #fff;
	min-width: 250px;
	padding-right: 20px;
	background: #088CC0;
	color: #fff;
	vertical-align: top;
	padding-bottom: 40px;
	position: relative;
	text-align: center;
}

.rnewsletter button:hover {
	background: #DBFCFF;
}

.rnewsletter button {
	background: #fff;
	padding: 10px;
	text-align: center;
	width: 200px;
	margin: 0 auto;
	border: 1px solid #eee;
	cursor: pointer;
	border-radius: 4px;
	/*position: absolute;*/
	bottom: 15px;
	font-size: 15px;
	color: #00647F;
}

.rnewsletter form {
	display: table;
	border-top: 1px solid #2fadbb;
	border-bottom: 1px solid #2fadbb;
	padding: 15px 0;
	margin: 15px 0 35px 0;
}

.content-text {
	padding-left: 20px;
	/*border-top: 4px double #088CC0;*/
	vertical-align: top;
}

.content-text h1 {
	padding: 20px;
	text-align: center;
    font-size: 48px;
    color: #444;
    font-weight: normal;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.content-text h4 {
    font-size: 24px;
    color: #666666;
    line-height: 36px;
    font-weight: normal;
	border-bottom: 4px double #cdcdcd;
	padding: 20px;
	margin: 10px auto 50px auto;
    font-weight: bold;
    min-width: 200px;
   	display: table;
}
/*.service_box {
	margin: 50px auto;
}*/
.service_box a{
	display: block;
	width: 95%;
	padding: 10px 2%;
	border: 1px solid #cdcdcd;
	min-height: 80px;
	position: relative;
	text-decoration: none;
	color: inherit;
	margin: 50px 0;
	clear: both;
}
.service_box a:hover{
	background: #CEF6FE;
	border: 1px solid #00D3FF;
}
.service_box a figure {
	margin: 0;
}
.service_box a figure.lfloat {
	margin-right: 1em;
}
.service_box a figure.rfloat {
	margin-left: 1em;
}
.service_box a figure img {
	width: 150px;
	/*position: absolute;*/
	bottom: 0;
	right: 0;
}
.service_box a b{
	font-size: 1.2em;
	line-height: 2em;
	font-family: 'Raleway'
}

.service-box {
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 311px;
}
.service-box a:hover{
	background: #CEF6FE;
	border: 1px solid #00D3FF;
}
.service-box a:hover figure img{
	width: 110px;
}
.service-box a:hover p{
	padding-top: 0;
	padding-bottom: 0;
}
.service-box a{
	display: table-cell;
	width: 30%;
	padding: 10px 20px;
	border: 1px solid #cdcdcd;
	/*display: block;*/
	text-decoration: none;
	color: inherit;
	text-align: center;
}
.service-box a b{
	font-size: 1.2em;
	line-height: 3em;
	font-family: 'Raleway'
}
.service-box a p{
	text-align: left;
	padding: 10px 25px;
    line-height: 1.4em;

}
.service-box a figure {
	display: block;
	/*background: #fff;*/
	text-align: center;
	margin: 0;
}
.service-box a figure img{
	width: 100px;
}
.page-services {
	/*background: #088CC0;*/
	width: 100%;
	border-top: 2px solid #fff;
	/*border-bottom: 2px solid #fff;*/
}

.page-services .grid-cell b {
	line-height: 1.4em;
}

.page-services .grid-cell p {
	color: #fff;
}

.page-services .grid-cell img {
	background: #efefef;
	border: 0 none;
	border: 1px solid #41D7DD;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.page-services .grid-cell {
	width: 18%;
	/*padding: 3% 1%;*/
	padding: 30px 10px;
	text-align: center;
}
.page-services .grid-cell.image {
	padding-bottom: 0;
}

.know-more {
	background: #f7f7f7;
	margin: 20px 0 40px 0;
}
.know-more button:hover{
	background: #41D7DD;
}
.know-more button{
	cursor: pointer;
	color: #fff;
	padding: 12px 20px;
	border: 1px solid ;
	font-size: 0.7em;
	background: #088CC0;
}
.know-more {
	font-size: 1.4em;
	padding: 2em;
	text-align: center;
}


.in-touch {
	background: #f7f7f7;
	padding: 20px;
	margin-top: 47px;
}
.in-touch h4{
    font-size: 24px;
    color: #666666;
    line-height: 36px;
    font-weight: normal;
	border-bottom: 4px double #cdcdcd;
	padding: 10px;
	margin: 10px auto 50px auto;
    font-weight: bold;
    min-width: 200px;
   	display: table;
	width: 30%;
	text-align: center;
}
.in-touch .grid{
	width: 500px;
	max-width: 100%;
	margin: 0 auto;
}
.in-touch .text .grid-cell{
	padding: 10px;
	font-variant: small-caps;
	font-size: 1.1em;
	}
.in-touch .textarea .grid-cell {
	padding: 20px 10px;
}
.in-touch .textarea .text .grid-cell {
	padding-bottom: 0;
}
.in-touch .textarea .grid-cell input,
.in-touch .textarea .grid-cell textarea,
.in-touch .input .grid-cell input{
	width: 80%;
	line-height: 2em;
	padding: 5px;
	text-align: center;
	border-color: #efefef !important;
	border-style: solid !important;
	border-width: 1px !important;
	font-family: 'Raleway';

}
.in-touch .textarea .grid-cell input,
.in-touch .textarea .grid-cell textarea {
	width: 90%;
    resize: none;
}
.in-touch .textarea .grid-cell textarea {
	text-align: left;}

.in-touch .textarea .grid-cell button:hover{
	background: #41D7DD;
}
.in-touch .textarea .grid-cell button{
	cursor: pointer;
	color: #fff;
	padding: 12px 20px;
	border: 1px solid ;
	font-size: 1em;
	background: #088CC0;
	min-width: 150px;
	font-variant: small-caps;
}
.in-touch .input .grid-cell{
	padding: 10px;
}
.in-touch .grid-cell{
	vertical-align: middle;
	text-align: center;
}
.two-col .grid-cell{
	width: 50%;	
}


.page-map {
	min-height: 240px;
	padding: 5px 0;
	background: #fff;
}







#owl-demo .item{
    /*background: #41D7DD;*/
    background: #CEF6FE;
    margin: 5px;
    /*color: #FFF;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
	border: 1px solid #088CC0;
	color: initial;
	text-decoration: none;
	
    
}
#owl-demo .item .grid-cell {
    /*padding: 30px 0px;*/
    font-size: 1em;
    line-height: 1.1em;
    font-family: 'Raleway';
    color: #088CC0;
	
}
.service-ticker {
	padding: 0 30px;
	position: relative;
}
.service-ticker .prev{
	left: 0;
}
.service-ticker .next {
	right: 0;
}
.service-ticker .prev img,
.service-ticker .next img{
	position: relative;
	top: -10px;
} 
.service-ticker .prev,
.service-ticker .next
{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 30px;
	padding: 2px;
}
.service-ticker #owl-demo {
	float: left;
}
footer .grid.content-wrap{
	width: 100%;
	}
footer {
	color: #088CC0;
	background: #f7f7f7;
	font-size: 0.9em;
	border-top: 1px solid #088CC0;
}
footer a:hover {
	color: #088CC0;
}
footer a{
	color: #41D7DD;
	text-decoration: none;
}
footer .nav-link li a:hover{
	color: #fff;
}
footer.content-wrap .nav-link li{
	float: left;
}